<manifest package="com.example.adrian.zameera"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:name="android.support.multidex.MultiDexApplication">
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-feature android:name="android.hardware.camera2.full" />


        <activity android:name=".Activity.SplashScreenActivity"
            android:label="Splash Screen Menu">

        </activity>

        <activity android:name=".Activity.MainMenuActivity"
                  android:label="Main Menu">
        </activity>

        <activity android:name=".Activity.ItemDetailActivity"
            android:label="Item Detail">

        </activity>

        <activity android:name=".Activity.LoginActivity"
            android:label="Login"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

        <activity android:name=".Activity.CategoryActivity"
                  android:label="Category"
           >
        </activity>

        <activity android:name=".Activity.CameraActivity"
            android:label="Camera">

        </activity>

    </application>

</manifest>
